<div class="min-h-screen max-w-lg flex flex-col gap-12 items-center justify-center tracking-widest  uppercase font-bold mx-auto">
<p>
The web used to be a place of excitement and wonder. Vast and open, where anyone could build a site or an app and host it in multiple places. In the mid 2010s a movement called Jamstack (Javascript APIs and Markdown) brought for a whole new class of websites and apps that were simple, portable, and just flat out fun. There were no walled gardens and people could easily migrate their content to another stack or host it with another provider with little to no effort.
</p>

<p>
All of this changed when SSR (server side rendering) started to take control. Vendors with VC funding started to change the narrative, saying that in order to have effective websites you needed to render everything from the server. Moving more of the static to the server meant increased cost towards users. This also brought about frameworks and patterns which made websites harder to move and created more vendor lock-in.
</p>

<p>
Despite recent trends, there are developers out there who want the web to be open again through simple static apps, APIs, and markdown content. Andromeda is a place for those people, whether you lived through the Jamstack years, a developer that’s tired of SSR patterns, or a new developer entirely. This place serves as a rally call and information hub to bring back a web with no walled gardens.
</p>
</div>
