<div class="min-h-screen max-w-lg flex flex-col gap-12 items-center justify-center tracking-widest  uppercase font-bold mx-auto p-6">

  <p>The web used to be a place of excitement and wonder. Vast and open, where anyone could build a site or an app and host it wherever they wanted. But as the web matured, the walls began to rise. </p>
<p>
 FTP was replaced with server-side frameworks that were sold as “simpler” and “unified.” This made the web decidedly less open and portable. However, in the mid 2010s developers began a movement called Jamstack (Javascript APIs and Markdown) which sought to return the web to its roots with websites and apps that were simple, portable, and just flat out fun. There were no walled gardens and people could easily migrate their content to another stack or host it with another provider with little to no effort. This movement directly spawned some of the greatest web tools many of us use today. Static site generators, JavaScript frameworks, advanced single-page apps with full dynamism. All because of the Jamstack.
</p>

<p>
  Unfortunately, history is repeating itself with SSR (server side rendering) starting to take control. Vendors with VC funding started to change the narrative, saying that in order to have effective websites you needed to render everything from the server. Moving more of the static to the server meant increasing cost. It also meant more walls. The shift to SSR introduced frameworks and patterns that made websites harder to move and created more vendor lock-in.
</p>

<p>
  Despite this, a vibrant community of developers remains committed to preserving the web's openness through simple static apps, APIs, and markdown content, despite current trends toward centralization. Andromeda provides a welcoming space for these individuals—whether you experienced the FTP era, the early Jamstack years, feel fatigued by SSR patterns, or are entirely new to web development. This static web home serves as both a rallying point and information hub dedicated to revitalizing a web free from walled gardens.
</p>
</div>
